$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$body-bg:         #E0F2F1;
$primary-color:   #009688;
$success-color:   #8BC34A;
$info-color:      #979797;
$warning-color:   #FFFAD8;
$danger-color:    #FF5722;

$content-width:   480px;
